<main>
    <div id="container">
      <form action="">
        <img src="https://www.pinclipart.com/picdir/middle/8-81687_user-icon-vector-clip-art-clipart-pink-person.png"><br>
        <input type="text" placeholder="User Name"><br>
        <input type="password" placeholder="Password"><br>
        <input type="submit" value="SIGN IN"><br>
        <span><a href="#" class="link">Forgot Password?</a></span><br>
        <span><a routerLink="/Register" class="link">Not a member? Signup</a></span>
      </form>
    </div>
</main>